:root{

    --primary-color:#3474b1;

    --secondary-color:#FFFFFF;

    --footer-color:#1565C0;

    --text-color:#333333;

    --shadow:0 5px 15px rgba(0,0,0,.15);

    --radius:10px;

    --gap:1.5rem;

    --padding:20px;

}